a:visited {
  color: yellow;
}

a:active {
  color: pink;
}

a:link {
  color: gray;
  text-decoration: none;
}

.klasa:hover {
  color: black;
  font-size: 500%;
}

.klasa:visited {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.klasa:active {
  color: indigo;
}

.klasa:link {
  color: brown;
  text-decoration: none;
}

.klasa:hover {
  color: orange;
  font-size: 150%;
}
